# Binarios gerados pelo python
*.pyc

# User-specific stuff:
.idea/

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# mpeltonen/sbt-idea plugin
.idea_modules/

ProjetoSI/ProjetoSI-App/migrations/
ProjetoSI/ProjetoSI-App/static/libs/

env/**
