<div class="container">
    <div class="arquivos">
        <div class="row">
            <div class="col-md-2" style="text-align: center">
                <div>
                    <button type="submit" ui-sref="arquivo-create" class="arquivo-add"></button>
                    <h4>Criar Arquivo</h4>
                    <button type="submit" ui-sref="arquivo-create" class="arquivo-add"></button>
                    <h4>Criar Pasta</h4>
                </div>
                </div>
                <div class="col-md-10">
                <div ng-repeat="arquivo in arquivos.arquivos" class="col-md-2">
                    <div class="arquivo-card-view">
                        <button ng-click="" class="arquivo-view"></button>
                        <h2>{{ arquivo.name }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>