.dropdown-wrapper {
	width: 250px;
	height: 50px;
	position: relative;
	display: inline-block;
	border-bottom: 3px solid #aaa;
	transition: border-bottom 0.2s ease;
}

.dropdown-wrapper:hover {
	cursor: pointer;
}

.dropdown-wrapper.active {
	border-bottom-color: red;
}

.dropdown-wrapper .dropdown {
	min-height: 100%;
	padding: 8px 5px;
}

.dropdown-wrapper .dropdown::before,
.dropdown-wrapper .dropdown::after {
	content: '';
	position: absolute;
}

.dropdown-wrapper .dropdown::after {
	content: '\f0d7';
	color: rgba(0, 0, 0, .3);
	font-family: FontAwesome;
	font-size: 1.2em;
	right: .5em;
	top: 40%;
	margin-top: -.3em;
	transition: color 0.2s ease;
}

.dropdown-wrapper.active .dropdown::after {
	color: red;
}

.dropdown-wrapper .dropdown .dropdown-label {
	position: absolute;
	top: 12px;
	left: 10px;
	font-size: 1.2em;

	/* make text unselectable */
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-wrapper .dropdown .dropdown-label:hover {
	cursor: pointer;
}

.dropdown-wrapper .dropdown .select-list {
	width: 300px;
	min-height: 100%;
	background-color: #fff;
	background: rgba(255, 255, 255, .98);
	position: absolute;
	left: 0;
	top: 60px;
	z-index: 1000;
	box-shadow: 0 0 5px #aaa;
	display: none;
}

.dropdown-wrapper .dropdown .select-list.toggle-show {
	display: block;
}

.dropdown-wrapper .dropdown .select-list ul {
	list-style-type: none;
	margin: 0;
}

.dropdown-wrapper .dropdown .select-list ul .option {
	width: 100%;
	padding: 15px 20px;
	color: rgb(0, 0, 0);
	transition: all 0.1s ease;
	background-color: #fff;
}

.dropdown-wrapper .dropdown .select-list ul .option:hover {
	background-color: #eee;
}

.pesquisa {
	width: 355px;
	padding-bottom: 5px;
	border-bottom: 3px solid #aaa;
	float: right;
	transition: border-bottom 0.2s ease;
}

.pesquisa.active {
	border-bottom-color: red;
}

.pesquisa .pesquisa-input {
	width: 300px;
	height: 40px;
	padding: 0 15px;
	background-color: rgba(0, 0, 0, 0);
}

.pesquisa .pesquisa-submit {
	background-color: rgba(0, 0, 0, 0);
	color: #aaa;
	font-weight: 300;
	margin-left: 10px;
	width: 40px;
	height: 40px;
	border: none;
	vertical-align: top;
	transition: background-image 0.2s ease;
}

.pesquisa .pesquisa-submit.active {
	color: red;
}

.eventos {
	margin-top: 30px;
}

.eventos .col-md-4 {
	margin-bottom: 35px;
}

.eventos .evento-card {
	height: 400px;
	width: 360px;
	padding: 10px;
	box-shadow: 0 0 5px #aaa;
	border-radius: 10px;
	text-align: center;
	position: relative;
}

.evento-add {
	height: 150px;
	width: 150px;
	border: none;
	background: transparent;
	background-image: url(/static/img/Home/botao_adicionar.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-size: 6em;
	font-weight: 300;
}

.eventos button.evento-add {
	margin-top: 50px;
	margin-bottom: 60px;
}

.eventos button.evento-add[disabled] {
	filter: saturate(0);
	-webkit-filter: saturate(0);
}

.eventos .evento-card h2 {
	color: #555;
	font-size: 1.9em;
}

.eventos .evento-card .evento-header {
	width: 300px;
	margin: 40px auto 20px;
	border-bottom: 1px solid #aaa;
}

.eventos .evento-card .evento-header .logo-evento {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin: 50px auto 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.eventos .evento-card .evento-header .evento-data {
	color: red;
}

.eventos .evento-card .evento-opt {
	width: 200px;
	margin: 25px auto 0;
}

.eventos .evento-card .evento-opt > button {
	height: 50px;
	width: 50px;
	background-color: #bbb;
	border-radius: 50%;
	border: none;
	color: #fff;
	font-size: 1.7em;
}

.eventos .evento-card .evento-opt .evento-share {
	float: left;
	background-image: url('/static/img/Home/compartilhar-branco.svg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 22px;
}

.eventos .evento-card .evento-opt .evento-edit {
	float: right;
	background-image: url('/static/img/Home/lapis-branco.svg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 22px;
}