* {
	margin: 0;
	padding: 0;
}

.f-right {
	float: right;
}

.f-left {
	float: left;
}

nav.login-nav {
	height: 220px;
	padding-top: 80px;
	background-color: #000000;
}

nav.login-nav .logo {
	height: 70px;
}

nav.login-nav .btn {
	width: 145px;
	height: 60px;
	margin: 5px 0px;
	background-color: #bbb;
	color: #000000;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
}

nav.login-nav .usuario {
	display: none;
}

.center-block {
	float: none !important
}

.body {
	padding: 45px 0px;
}

.body p {
	font-size: 20px;
	line-height: 1.6;
	text-align: justify;
}

.body .conta h2 {
	color: #000000;
}

.body .conta form input {
	width: 100%;
	height: 70px;
	margin: 10px 0;
	padding: 10px 15px;
	font-size: 1.3em;
	font-weight: 400;
	background-color: #eee;
	border: none;
	border-radius: 5px;
}

.body .conta form .btn {
	width: 100%;
	height: 65px;
	margin-top: 10px;
	background-color: #000000;
	font-size: 21px;
	text-transform: none;
	color: #ffffff;
}

.body .conta form .btn:disabled {
	background-color: #676767;
	cursor: default;
}


.body .espaco-login {
	height: 400px;
	margin-bottom: 20px;
	background-color: #333;
}

.body .etapas img {
	margin: 0px 15px;
}