* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Open Sans'!important;
}

.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
    line-height: 0;
}

.clearfix::after {
    clear: both;
}

.ui-wrapper {
    position: relative;
    min-height: 65px;
}

.ui-wrapper div[ui-view].ng-enter {
    opacity: 0;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.ui-wrapper div[ui-view].ng-enter.ng-enter-active {
    opacity: 1;
}

button.btn[disabled="disabled"] {
    background: #9d9d9d;
}

.btn {
    width: 220px;
    height: 60px;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    background-color: #000000;
}

.btn:focus,
.btn:hover {
    color: #fff;
    background-color: #353535;
}

.btn:disabled {
    cursor: default;
}

.btn:disabled:hover {
    color: #fff;
}

textarea {
    width: 100%;
    height: 500px;
    margin: 30px 0px;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
}

input {
    width: 100%;
    height: 50px;
    padding: 10px 15px;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
}

input[type="checkbox"] {
    width: auto;
    display: inline-block;
}

label {
    color: #888;
    font-size: 17px;
    font-weight: 500;
}

label.label-principal {
    color: #555;
}

.f-right {
    float: right;
}

.f-left {
    float: left;
}

.error-message {
    display: block;
    margin: 5px 0 10px;
    color: red;
}

.label-distance {
    margin-top:20px;
}

.slickdois {
    position: initial !important;
}

.no-outline {
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}